{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Lists</title>
  </head>
  <body style="font-family: Roboto">
    {% block content %}{% endblock content %}
    <footer>Made by Edward Sohn</footer>
  </body>
</html>
